<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <title> CONTACTO </title>
    <meta name="keywords" content="COVID, CONSULTORIO, PARANA, MEDICOS">

  </head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../assets/css/estilos.css">
 <link rel="icon" href="../img/icono.ico"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<body class="container-fluid no-gutters">
<header class="row">
<nav class="col-12">
<a href="../index.html"><img id="img1" src="../img/logo3.jpeg" alt="Logo"> </a>
<ul class="nav justify-content-center">
 <li class="nav-item">
    <a class="nav-link" href="STAFF%20PROFESIONAL.html">STAFF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="INFORMACION%20PARA%20PACIENTES.html">INFO PARA PACIENTES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="CONTACTO.html">CONTACTO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="NOVEDADES.html">NOVEDADES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="MISION%20Y%20VISION.html">MISION Y VISION</a>
     </li>
</ul>
</nav>
</header>

<br>
<div class="separacion"></div>
<br>
<p class="text-center">SECRETARIA </p>
  
<div class="contacto container">
<p class="text-center"> <b>Dias:</b> Lunes a Viernes de 10 a 20 hs </p>

<p class="text-center"><b> Telefonos:</b> 343 4075054 / 343 6221170</p>

<p class="text-center"><b> Email:</b> kairosparana@gmail.com </p>

<p class="text-center"><b> Direccion:</b> Pascual Palma 88/ Parana Entre Ríos. CP: 3100</p>
</div>

<br>
<div class="separacion"></div>
<br>

<section class="container formulario">
  <label for="name">Nombre Completo</label>
<input class="form-control" type="text" name="Nombre" placeholder="Nombre Completo" aria-label=".form-control-lg example">
<label for="email">Correo electronico</label>
<input class="form-control" type="email" email="Correo" placeholder="Correo electronico" aria-label="default input example">
<label for="location">Localidad</label>
<input class="form-control" type="location"  Localidad="Localidad" placeholder="Localidad" aria-label=".form-control-sm example">
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">¿En que te podemos ayudar?</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <input type="submit">
</div>


</section>
































<p id="staff3"><a href="../index.html"> KAIROS  Salud y Bienestar</a></p>








<div class="w-flotante">
  <a href="https://wa.me/5493436221170" target="_blank" class="text-decoration-none"><span class="d-none">WhatsApp
    </span><img src="../img/whatsapp-logo-1.png" class="whatsapp"></a>
</div>






<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>

</html>
