<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <title> MISION Y VISION </title>
    <meta name="keywords" content="COVID, CONSULTORIO, PARANA, MEDICOS">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../assets/css/estilos.css">
<link rel="icon" href="../img/icono.ico"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


 </head>

  <body class="container-fluid no-gutters">
<header class="row">
<nav class="col-12">
<a href="../index.html"><img id="img1" src="../img/logo3.jpeg" alt="Logo"> </a>
<ul class="nav justify-content-center">
 <li class="nav-item">
    <a class="nav-link" href="STAFF%20PROFESIONAL.html">STAFF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="INFORMACION%20PARA%20PACIENTES.html">INFO PARA PACIENTES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="CONTACTO.html">CONTACTO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="NOVEDADES.html">NOVEDADES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="MISION%20Y%20VISION.html">MISION Y VISION</a>
     </li>
</ul>
</nav>
</header>





    <br>
    <div class="separacion"></div>
    <br>

    <p class="text-center" >MISION Y VISION</p>
    <div class="container">
    <ul id="iconos1">
    <li>Misión</li>
    <p>Brindar servicios de salud de calidad y seguros, humanizando la atención, con excelencia profesional y recursos tecnológicos avanzados, mejorando las prestaciones mediante la capacitación continua de sus equipos; para atender las necesidades asistenciales de los pacientes en un marco de equidad y eficiencia; procurando, satisfacer las necesidades de los restantes clientes externos e internos, cumplir su compromiso con la comunidad.</p>
    <li>Vision</li>
    <p>El Consultorio ocupa en la Provincia de Entre Ríos una posición de liderazgo en la prestación de servicios asistenciales de pacientes agudos y de alta complejidad, que desea mantener y consolidar en el futuro, desarrollando además las otras áreas básicas de una institución de excelencia: la docencia y la investigación. Esta visión deberá enmarcarse –necesariamente- en la prioridad que la Institución otorga a la condición humana de sus pacientes y al respeto de sus derechos.</p>
</ul>
   </div>



<p id="staff3"><a href="../index.html"> KAIROS  Salud y Bienestar</a></p>





<div class="w-flotante">
  <a href="https://wa.me/5493436221170" target="_blank" class="text-decoration-none"><span class="d-none">WhatsApp
    </span><img src="../img/whatsapp-logo-1.png" class="whatsapp"></a>
</div>







<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


  </body>

</html>
