<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <title>NOSOTROS</title>
    <meta name="keywords" content="COVID, CONSULTORIO, PARANA, MEDICOS STAFF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../assets/css/estilos.css">
<link rel="icon" href="../img/icono.ico"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>
  <!-- fuente-->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
  <body class="container-fluid no-gutters"> 
<!-- Inicio del navegador   -->

<header class="row">
<nav class="col-12">
<a href="../index.html"><img id="img1" src="../img/logo3.png" alt="Logo"> </a>
<ul class="nav justify-content-center">
 <li class="nav-item">
    <a class="nav-link cool-link" href="STAFF%20PROFESIONAL.html">STAFF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link cool-link" href="INFORMACION%20PARA%20PACIENTES.html">INFO PARA PACIENTES</a>
  </li>
   <li class="nav-item">
    <a class="nav-link cool-link" href="NOVEDADES.html">NOVEDADES</a>
  </li> 
  <li class="nav-item">
    <a class="nav-link cool-link" href="Nosotros.html">NOSOTROS</a>
     </li>
  <li class="nav-item">
    <a class="nav-link cool-link" href="MISION%20Y%20VISION.html">MISION Y VISION</a>
     </li>
     <li class="nav-item">
    <a class="nav-link cool-link" href="CONTACTO.php">CONTACTO</a>
  </li>
</ul>
</nav>
</header>
<!-- CIERRE del navegador  -->
<br>
<div class="separacion"></div>
<br>

<!-- ICONOS -->
<section id="sec1" class="no-gutters  ">
<div class="row no-gutters">
  <!-- PRIMERA FILA DE ICONOS -->
<figure class="staffpro">
  <img src="https://img.icons8.com/pastel-glyph/64/000000/place-marker--v2.png"/>
  <figcaption class="staffpro2">    FÁCIL ACCESO <br>
   Nos encontramos en calle Pascual Palma, a metros de 25 de Mayo.
    Una localización estratégica, en la zona céntrica de Paraná, 
     de fácil acceso a las principales avenidas y a sólo 5 minutos del centro cívico de la ciudad.
   </figcaption>
</figure>

<figure class="staffpro">
  <img src="https://img.icons8.com/pastel-glyph/64/000000/puzzle--v1.png"/>
  <figcaption>
       MULTIESPACIO <br>
        Contamos con tres espacios personalizados de atención y trabajo (dos consultorios y un espacio de usos múltiples) que se adaptan a sus necesidades y las de sus pacientes.
  </figcaption>
</figure>
 
<figure class="staffpro">
  <img src="https://img.icons8.com/wired/64/000000/heart-puzzle.png"/>
  <figcaption> CONFORT <br>
    Los ambientes han sido diseñados y decorados para poder brindar una atención diferente.Todos los espacios cuentan con luz natural, espacio de guardado y climatización frío-calor.
  </figcaption>
</figure>
<!-- CIERRE DE PRIMERA FILA DE ICONOS -->
 

  <!-- SEGUNDA FILA DE ICONOS -->
  <figure class="staffpro">
    <img src="https://img.icons8.com/ios/50/000000/wifi--v1.png"/>
    <figcaption>
          CONECTIVIDAD <br> 
          Contamos con conexión Wi-Fi y teléfono para que siempre esté conectado o pueda acceder en cualquier momento.
    </figcaption>
  </figure>

<figure class="staffpro">
  <img src="https://img.icons8.com/pastel-glyph/64/000000/espresso-cup--v3.png"/>
  <figcaption>
      OFFICE <br>
       Disponemos de un espacio único destinado al descanso o refrigerio. El mismo cuenta con heladera, cocina y una completa vajilla.
  </figcaption>
</figure >

<figure class="staffpro">
  <img src="https://img.icons8.com/ios/50/000000/settings-3.png"/>
  <figcaption>EXTRAS <br>
    Las óptimas y mejores condiciones del espacio están garantizadas mediante un servicio de limpieza.
   </figcaption>
</figure>

</div>
</section>
<!-- CIERRE ICONOS -->

<br>
<div class="separacion"></div>
<br>
<p class="container text-center"> <mark>¿Queres ser parte de KAIROS S&B?</mark></p>

<section class=" container">
  <div>
  <p class="parrafo1"><b>KAIROS|Salud y Bienestar </b> es un espacio interdisciplinario ideal para desarrollar diversas actividades profesionales, tanto individuales como grupales. Somos una empresa joven y dinámica que comercializa espacios físicos (consultorios) mediante la modalidad de alquiler temporario. Nuestro servicio de alquiler de consultorios, salas y espacios ha sido pensado para profesionales que buscan un espacio moderno y confortable para desarrollar su trabajo. Nos ubicamos en la zona centro de la ciudad de Paraná, privilegiando que sus pacientes tengan una experiencia diferente a la hora de consultarlo.
</p>  
</div>
</section>


<div class="container">
<ol  id="iconos1">
  <li>ALQUILER POR HORA <br> Ideal para aquellos profesionales que no cuentan con una extensa agenda y que necesitan alquilar solo unas pocas horas al mes. </li>
  <li>ALQUILER POR MÓDULO <br> ¿Cuenta con una agenda estable de pacientes?. Le ofrecemos los mejores precios y horarios para que desarrolle su actividad. </li>
  <li>ALQUILER PARA GRUPOS <br> Si desarrolla actividades grupales contamos con una sala y patio que le permitirá contar con la comodidad y el espacio que necesita.
</li>
</ol>
</div>  

<!-- Whatsapp  -->
<div class="w-flotante">
  <a href="https://wa.me/5493436221170" target="_blank" class="text-decoration-none"><span class="d-none">WhatsApp
    </span><img src="../img/whatsapp-logo-1.png" class="whatsapp"></a>
</div>
<!-- CIERRE de whatsapp  -->

<!-- banner Final -->
<section class="position-sticky">
<div class="final">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <p class="text-center" ><a class="nav-link" href="../index.html"> KAIROS  Salud y Bienestar</a></p>
     </li>
     </ul>
<p class="text-center">Copyright © 2021.</p> <!-- https://www.facebook.com/ema.taborda -->
</div>
</section>

  <!-- bootstrap  -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>

</html>
