<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <title>NOVEDADES</title>
    <meta name="keywords" content="COVID, CONSULTORIO, PARANA, MEDICOS, Novedades">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../assets/css/estilos.css">
 <link rel="icon" href="../img/icono.ico"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


</head>
<body class="container-fluid no-gutters">

<header class="row">
<nav class="col-12">
<a href="../index.html"><img id="img1" src="../img/logo3.jpeg" alt="Logo"> </a>
<ul class="nav justify-content-center">
 <li class="nav-item">
    <a class="nav-link" href="STAFF%20PROFESIONAL.html">STAFF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="INFORMACION%20PARA%20PACIENTES.html">INFO PARA PACIENTES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="CONTACTO.html">CONTACTO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="NOVEDADES.html">NOVEDADES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="MISION%20Y%20VISION.html">MISION Y VISION</a>
     </li>
</ul>
</nav>
</header>

<br>
<div class="separacion"></div>
<br>
    

<section class="container">
<p class="text-center">¿Conoces de que se trata el drenaje linfático manual?</p>


<p>Es una <b> técnica de masaje manual </b> que consiste en realizar una serie
de <b> maniobras suaves, lentas y rítmicas que activan y mejoran la
circulación </b> de la linfa hacia los ganglios facilitando la eliminación de
toxinas y de <b> exceso de líquidos</b>.</p>
<p class="text-center">¿Cuándo se indica realizar Drenaje linfático manual?</p>
<ul id="iconos1">
  <li>Edemas (hinchazón de extremidades) de causa desconocida o
de origen post-menopaúsico, frecuentemente en tobillos y
muslos.</li>
<li>Durante el embarazo, para reducir la hinchazón y sensación de
pesadez de piernas.</li>
<li>Celulitis. El drenaje se acompaña de:<br>
Ultrasonidos (para deshacer los nódulos de grasa)<br>
Electroestimulación: Corrientes de lipólisis (rompen los nódulos
de grasa) y de tonificación de la musculatura.</li>
<li>Edemas post-quirúrgicos tras realizar liposucciones o extirpación
de una tumoración.</li>
<li>Infecciones de garganta, sinusitis (porque se favorece la
eliminación de gérmenes).</li>
</ul>

<div class="container">

<p class="text-center">¿Te quedo alguna duda?</p>
<p class="text-center">Contáctanos:<br></p>
 <p><b>WhatsApp:</b> <a href="https://wa.link/qzv5ff"  >343-6221170</a></p>
  <p><b>Fijo:</b>343-4075054</p>
<p><b>Seguinos en:</b> <a href="https://instagram.com/kairossyb?igshid=q9ta4ik26r3x">Instagram</a> y <a href="https://www.facebook.com/Kairos-Salud-y-Bienestar-112220987188893/">Facebook</a></p>
</div>
</section>


<p id="staff3"><a href="../index.html"> KAIROS  Salud y Bienestar</a></p>








<div class="w-flotante">
  <a href="https://wa.me/5493436221170" target="_blank" class="text-decoration-none"><span class="d-none">WhatsApp
    </span><img src="../img/whatsapp-logo-1.png" class="whatsapp"></a>
</div>









<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>

</html>
