/* banner final*/
.final {
  background-color: #3f3f3f;
  color: white; }

.position-sticky {
  padding-top: 10% !important; }

/*whatsapp inicio*/
.w-flotante {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  bottom: 4%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; }

.w-flotante .whatsapp {
  text-decoration: none;
  color: white !important;
  font-size: 2.5rem;
  width: 40px; }

/*whatsapp fin*/
body {
  background-image: url("../../img/1350.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important; }

.no-gutters {
  padding-left: 0	!important;
  padding-right: 0 !important;
  font-family: 'Fira Sans', sans-serif; }

/*Carrusel*/
.carrucel1 {
  background-image: url("../../img/kairos1.jpeg");
  background-repeat: no-repeat;
  background-position: center; }

.carrucel2 {
  background-image: url("../../img/kairos2.jpeg");
  background-repeat: no-repeat;
  background-position: center; }

.carrucel3 {
  background-image: url("../../img/kairos3.jpeg");
  background-repeat: no-repeat;
  background-position: center; }

.carousel-item {
  height: 500px; }

/*Fin carrusel*/
/*Index*/
.parrafo1 {
  margin-top: center;
  margin-bottom: center;
  margin-right: 50px;
  margin-left: 50px; }

#imgindex {
  border-top: solid 18px #8C8C8C;
  border-left: solid 18px #94a9a4;
  border-right: solid 18px #3f3f3f;
  border-bottom: solid 18px #D9D9D9; }

.indexstaff {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px; }

/*estilos para la pagina*/
.separacion {
  width: 100%;
  height: 20px;
  background-image: linear-gradient(to left, #D9D9D9, #94a9a4, #593E3E); }

a:link {
  color: #8C8C8C; }

a:visited {
  color: #8C8C8C; }

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none; }

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s; }

.cool-link:hover::after {
  width: 100%; }

#iconos1 {
  background-color: #D9D9D9;
  list-style-image: url("../../img/punto.png"); }

/*Imagen del logo (en general)*/
#img1 {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 300px; }

/*Staff inicio*/
.tablastaff {
  display: block;
  width: 200px;
  height: 200px; }

figure.staffpro {
  padding: 10px;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
  width: 500px;
  margin-left: 0px; }

#sec1 {
  background-color: #94a9a4; }

#sec1 img {
  width: 34px;
  height: 34px; }

#sec1 div {
  margin-left: 20px; }

/*Staff Fin*/
/*Contacto inicio*/
.contacto {
  background-image: linear-gradient(to right, #D9D9D9, #94a9a4, #8C8C8C); }

.formulario {
  background-color: #D9D9D9; }

/*contacto fin*/
